@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap");
.main__texto {
  margin: 20px;
  padding: 10px;
  display: inline-block;
  text-align: center;
  max-width: 850px;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  color: white; }

.main__subtitulo {
  text-align: center;
  margin: 20px;
  padding: 10px;
  font-family: "Roboto Slab", serif;
  color: white; }

.header__btn a {
  color: white !important; }
  .header__btn a:hover, .header__btn a.active {
    background-color: #d3cf93;
    border-radius: 8px;
    color: #2d3033 !important; }

.body {
  display: flex;
  flex-direction: column;
  background: black; }

.main__bio {
  display: flex;
  flex-direction: column;
  align-items: center; }

.main__btn {
  display: grid;
  margin: 50px;
  padding: 10px;
  justify-content: center; }
  .main__btn a {
    text-decoration: none;
    color: antiquewhite; }
    .main__btn a:hover {
      font-weight: 1000;
      color: #d3cf93; }

.main__btnBuy {
  display: block;
  align-items: center;
  background-color: #d3cf93;
  border-radius: 8px; }

.main__card {
  margin: 35px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  background: black;
  background: -moz-linear-gradient(0deg, black 0%, #323030 100%);
  background: -webkit-linear-gradient(0deg, black 0%, #323030 100%);
  background: linear-gradient(0deg, black 0%, #323030 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#323030", GradientType=1); }

.main__cardText {
  margin: 20px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  color: white; }

.main__carousel {
  margin: 50px;
  display: flex;
  justify-content: center; }

.main__disco {
  display: flex;
  flex-wrap: nowrap;
  margin: 50px;
  justify-content: space-evenly;
  align-content: space-around;
  align-items: stretch; }

.main__div {
  display: flex;
  border-style: inherit;
  flex-direction: column;
  align-items: center; }

.main__imgCard {
  max-width: 375px; }

.main__imgPortada {
  display: grid;
  max-width: 100%;
  min-width: 320px;
  margin: auto; }
  .main__imgPortada img {
    width: 100%; }

.main__portadaShows {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  border-radius: 10px; }

.main__secciones {
  display: flex;
  flex-direction: column;
  align-items: center; }

.main__showStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px; }

.main__video {
  margin: 20px;
  position: relative;
  overflow: hidden; }

.footer {
  display: grid;
  height: 208px;
  width: 100%;
  background-color: #2d3033; }
  .footer__form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2d3033; }
    .footer__form input {
      margin: 5px; }
    .footer__form span {
      margin: 10px;
      padding: 5px;
      color: white;
      font-family: "Roboto Slab", serif; }
  .footer__ul {
    display: flex;
    list-style: none;
    justify-content: center;
    background-color: #2d3033; }
    .footer__ul li {
      margin: 20px; }

@media (max-width: 480px) {
  .main__imgPortada img {
    display: none; }
  .footer__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .main__video iframe {
    width: 100%;
    height: 100%; }
  .main__disco {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-evenly;
    align-content: space-around;
    align-items: stretch; } }
