.main {
    &__bio {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__btn {
        display: grid;
        margin: 50px;
        padding: 10px;
        justify-content: center;

        a {
            text-decoration: none;
            color: antiquewhite;

            &:hover {
                font-weight: 1000;
                color: $colorBtn;
            }
        }
    }

&__btnBuy {
    display: block;
    align-items: center;
    background-color: $colorBtn;
    border-radius: 8px;
}

    &__card {
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        background: rgb(0, 0, 0);
        background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(50, 48, 48, 1) 100%);
        background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(50, 48, 48, 1) 100%);
        background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(50, 48, 48, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#323030", GradientType=1);
    }

    &__cardText {
        margin: 20px;
        padding: 10px;
        font-family: $tipoTextos;
        color: $colorFont;
    }

    &__carousel {
        max-width: 60%;
        margin: 0px auto;
        display: flex;
        justify-content: center;
    }

    &__disco {
        display: flex;
        flex-wrap: nowrap;
        margin: 50px;
        justify-content: space-evenly;
        align-content: space-around;
        align-items: stretch;
    }

    &__div {
        display: flex;
        border-style: inherit;
        flex-direction: column;
        align-items: center;
    }

&__imgCard {
    max-width: 375px;
}

    &__imgPortada {
        display: grid;
        max-width: 100%;
        min-width: 320px;
        margin: auto;

        img {
            width: 100%;
        }
    }

    &__portadaShows {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        border-radius: 10px;
    }

    &__secciones {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__showStyle {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 30px;
    }

    &__subtitulo {
        @extend %estiloSubtitulo;
    }

    &__texto {
        @extend %estiloParrafo;
    }

    &__video {
        margin: 20px;
        position: relative;
        overflow: hidden;
    }



}